[package]
name = "ai_getway"
publish = ["tuna"]
version.workspace = true
rust-version.workspace = true
edition.workspace = true

[dependencies]
tokio.workspace = true
anyhow.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
utils.workspace = true

